<hr />
<footer class="page-footer font-small special-color-dark pt-4">
  <form class="col-3 mx-auto my-2 my-lg-0">
    <div class="input-group">
      <input
        class="form-control"
        name="dateRange"
        placeholder="Keress időszakra..."
        angular-mydatepicker
        #dp="angular-mydatepicker"
        [(ngModel)]="model"
        [options]="options"
        [locale]="'hu'"
        (dateChanged)="onDateChanged($event)"
      />
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary" *ngIf="model" (click)="dp.clearDate()">
          <i class="fa fa-close"></i>
        </button>
      </div>
      <div class="input-group-append">
        <button type="button" class="btn btn-secondary" (click)="dp.toggleCalendar()">
          <i class="fa fa-calendar-o"></i>
        </button>
      </div>
    </div>
  </form>
  <div class="footer-copyright text-center py-3">© 2020 Copyright: <a href="#">Transporter</a></div>
</footer>
