<nav *ngIf="{ passenger: passenger$ | async } as state" class="navbar navbar-expand-lg navbar-light bg-light mb-3">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Főoldal</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!state.passenger" class="nav-link" [routerLink]="['/register']">Regisztráció</a>
      </li>
      <li class="nav-item">
        <a *ngIf="!state.passenger" class="nav-link" [routerLink]="['/login']">Bejelentkezés</a>
        <a *ngIf="state.passenger" class="nav-link" [routerLink]="['/logout']">Kijelentkezés</a>
      </li>
      <li class="nav-item dropdown">
        <a
          *ngIf="state.passenger"
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Profil
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/passenger/edit']">Profil szerkesztése</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/passenger/past']">Múltbeli foglalások</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/passenger/contact']">Kapcsolatfelvétel</a>
        </div>
      </li>
    </ul>
  </div>
  <a *ngIf="state.passenger" class="navbar-brand">Üdv, {{ state.passenger.name }}!</a>
</nav>
