@import '../node_modules/font-awesome/css/font-awesome.css';

body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
}

.col-3 {
  max-width: 50% !important;
}

select {
  margin-bottom: 1em;
  padding: 0.25em;
  border: 0;
  border-bottom: 2px solid currentcolor;
  font-weight: bold;
  letter-spacing: 0.15em;
  border-radius: 0;
  &:focus,
  &:active {
    outline: 0;
    border-bottom-color: red;
  }
}

@media only screen and (min-width: 1128px) {
  body,
  legend {
    font-size: 18px !important;
  }
  h2 {
    font-size: 30px !important;
  }
  button {
    padding: 6px !important;
  }
}

@media only screen and (min-width: 744px) and (max-width: 1128px) {
  body,
  legend {
    font-size: 16px !important;
  }
  h2 {
    font-size: 25px !important;
  }
  button {
    padding: 3px !important;
  }
  #trash-icon {
    height: 26px !important;
  }
}

@media only screen and (max-width: 744px) {
  body,
  legend {
    font-size: 14px !important;
  }
  h2 {
    font-size: 20px !important;
  }
  button {
    padding: 0px !important;
  }
  #trash-icon {
    height: 20px !important;
  }
}
